.user-login-h1 {
    float: right;
    color: white;
    margin-top: 7%;
    margin-right: 36%;
}

.user-login-main {
    float: right;
    padding: 50px;
    margin-top: 1%;
    margin-right: 35%;
    background-color: rgb(24, 26, 27);
}

.user-login-main h1 {
    color: white;
    margin-right: 60%;
}