.user-login-h1 {
    float: right;
    color: white;
    margin-top: 7%;
    margin-right: 40%;
}

.user-login-main {
    float: right;
    margin-top: 1%;
    margin-right: 35%;
    background-color: rgb(24, 26, 27);
    padding: 50px;
}

.user-login-main h1 {
    color: white;
    margin-right: 55%;
}