.confirm-btn-main {
    border: none;
    float: right;
    width: 160px;
    height: 40px;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgb(88, 131, 180), rgb(83, 142, 165));
}

.confirm-btn-main:hover {
    background-image: linear-gradient(to right, rgb(96, 129, 163), rgb(142, 207, 240));
}