.user-register-main {
    float: right;
    margin-right: 25%;
    margin-top: 3%;
    color: rgb(207, 211, 195);
}

.user-register-main  h1{
    float: right;
    display: inline-block;
    margin-bottom: 50px;
}