a {
    text-decoration: none;
    color: rgb(213, 217, 219);
}

.header-main-div {
    position: relative;
    width: 100%;
    height: 100px;
    color: rgb(213, 217, 219);
    display: inline-block;
    background-color: rgb(18, 18, 24);
}

.logo-img {
    width: 170px;
    height: 40px;
    float: right;
    margin-top: 2%;
    margin-right: 20%;
}

.nav {
    right: 20px;
    float: right;
    margin-top: 2%;
    position: relative;
    display: inline-block;
}

.nav-link {
    padding: 9px;
    font-size: 110%;
    list-style: none;
    display: inline-block;
}

.nav-link a p {
    color: rgb(163, 163, 157);
}

.nav-link a p:hover {
    color: rgb(250, 250, 250)
}

.login-div {
    padding-right: 70%;
    padding-top: 0.7%;
}

.login-div-item {
    margin-left: 10px;
}

.login-div-item  {
    color: rgb(163, 163, 157);
}

.login-div-item:hover {
    color: rgb(250, 250, 250)
}