a {
    color: rgb(213, 217, 219);
    text-decoration: none;
}

.main-div {
    width: 100%;
    height: 100px;
    color: rgb(213, 217, 219);
    background-color: rgb(15, 15, 27);
}

.logo-img {
    width: 170px;
    height: 40px;
    margin-top: 30px;
    margin-right: 20%;
    float: right;
}

.nav {
    float: right;
    position: relative;
    top: 25px;
    right: 35px;
    display: inline-block;
}

.nav-link {
    font-size: 17px;
    display: inline;
    padding: 9px;
    list-style: none;
}

.nav-link:hover {
    color: white
}