@font-face {
  font-family: iranian-sans;
  src: url(../public/fonts/Shabnam-Light.ttf);
}

* {
  margin: 0;
  direction: rtl;
  font-family: iranian-sans,'Times New Roman', Times, serif;
}

code {
  font-family: iranian-sans,
    monospace;
}
