.input {
    float: right;
    color: white;
    height: 34px;
    border: none;
    border-radius: 5px;
    background-color: rgb(45, 52, 56);
}

.input-label {
    float: right;
    font-size:medium;
    color: rgb(207, 211, 195);
}